AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: None
AlwaysBreakTemplateDeclarations: true
BasedOnStyle: LLVM
#BinPackArguments: false
#BinPackParameters: false
BreakBeforeBraces: WebKit
BreakConstructorInitializersBeforeComma: true
ColumnLimit: 0
#ColumnLimit: 80
IndentWidth: 4
ReflowComments: false
SortIncludes: false
# not yet available in Clang 3.8.1
#SpaceAfterTemplateKeyword: false

ForEachMacros:
  - FOR_CHANNEL_1
  - FOR_CHANNEL_2
  - FOR_STATE_1
  - FOR_STATE_2
